{{ define "title" }}
Login Form
{{ end }}

{{ define "body" }}
<body class="bg-gray-900 text-white">

    <div class="flex justify-center items-center h-screen">
        <div class="bg-gray-800 p-8 rounded-lg shadow-lg w-96">
            <h1 class="text-2xl font-semibold mb-6">Create an Account</h1>
            
            <div hx-ext="response-targets">
                <div id="form-message" class="text-red-500 text-sm mb-4" ></div>
            </div>

            <form method="post" action="/register-user" hx-post="/register-user" hx-target="#form-message" hx-target-4xx="#form-message" hx-swap="outerHtml">
                <div class="mb-4">
                    <label for="username" class="block text-sm font-medium">Username</label>
                    <input type="text" id="username" name="username" class="mt-1 p-2 w-full bg-gray-700 border-none rounded">
                </div>

                <div class="mb-4">
                    <label for="email" class="block text-sm font-medium">Email</label>
                    <input type="email" id="email" name="email" class="mt-1 p-2 w-full bg-gray-700 border-none rounded">
                </div>

                <div class="mb-4">
                    <label for="password" class="block text-sm font-medium">Password</label>
                    <input type="password" id="password" name="password" class="mt-1 p-2 w-full bg-gray-700 border-none rounded">
                </div>

                <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded focus:outline-none focus:shadow-outline-blue">
                    Create Account
                </button>
            </form>

            <div class="mt-4 text-sm">
                <p>Already have an account? <a href="/user-login" class="text-blue-500 hover:underline">Login</a></p>
            </div>
        </div>
    </div>

{{ end }}